/* Font and Font-Weights Available */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Global Styles */
.app-styles {
  background: rgba(0,126,188, 1)
}

/* Font Styles */
.roboto-title-20px {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
}